<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @manager.name %>
</p>

<p>
  <strong>Function:</strong>
  <%= @manager.function %>
</p>

<p>
  <strong>Area:</strong>
  <%= @manager.area %>
</p>

<p>
  <strong>Boss:</strong>
  <%= @manager.boss %>
</p>

<%= link_to 'Edit', edit_manager_path(@manager) %> |
<%= link_to 'Back', managers_path %>
