
<div class="box-body">

<%= simple_form_for(@sprint) do |f| %>
  <%= f.error_notification %>

  
   <h3><%= f.input :initial_date, label: 'Data Inicial' %></h3><br> 
   <h3><%= f.input :final_date, label: 'Data Final' %></h3> 
  

  
    <%= f.button :submit %>
  
<% end %>
</div>