<p id="notice"><%= notice %></p>

<p>
  <strong>Initial date:</strong>
  <%= @sprint.initial_date %>
</p>

<p>
  <strong>Final date:</strong>
  <%= @sprint.final_date %>
</p>

<%= link_to 'Edit', edit_sprint_path(@sprint) %> |
<%= link_to 'Back', sprints_path %>
