
  
  
  <%= simple_form_for(@project) do |f| %>
  <%= f.error_notification %>

  <div class="box-body">
      
    <%= f.input :head, label: false, class: 'form-control' %><br> 
   
    
  <%= f.input :manager_name, label: false, class: 'form-control' %>   
  
  <%= f.input :project_title, label: false, class: 'form-control' %> 
  
 <%= f.input :area, label: false, class: 'form-control' %>
 
 
 <%= f.input :description,label: false, class: 'form-control' %> 
 
 
 <%= f.input :representant, label: false,  class: 'form-control' %>
 
 
 <%= f.input :sprints, label: false, class: 'form-control' %> 
 
 
 <%= f.input :status, label: false, class: 'form-control' %>   
 
 
  <%= f.input :resources_id, label: false , class: 'form-control' %>  
    
    <%= simple_fields_for :deadline do |ff| %>
    <%= ff.input :initial_date, label: false, class: 'form-control' %>
    <%= ff.input :final_date, label: false, class: 'form-control' %>
    <%= ff.input :project_id, :as => :hidden, :input_html => { :value => @project.id } %>
    
    <% end %>
   

    
  </div>
  

 
    <%= f.button :submit, class: 'btn btn-default' %>
  
  <br>
<% end %>
  
  


