<div class="box box-primary">
  <div class="box-body">
    
    <p id="notice"><%= notice %></p>

<h1>Todos os projetos</h1><br>
<%= link_to 'Criar Projeto', new_project_path, class: 'btn btn-default' %>
<br>


<table class="table table-bordered table-striped dataTable">
  <thead>
    <tr>
      <!-- th>Head</th -->
      <!-- th>Manager</th-->
      <th>Título</th>
      <!--th>Area</th-->
      <th>Descrição</th>
      <!--th>Representant</th-->
      <!--th>Sprints</th-->
      <th>Status</th>
      <th>Resources</th>
      <th>Deadline</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <!--td><%#= project.head %></td-->
        <!--td><%#= project.manager %></td-->
        <td><%= project.project_title %></td>
        <!--td><%#= project.area %></td-->
        <td><%= project.description %></td>
        <!--td><%#= project.representant %></td-->
        <!--td><%#= project.sprints %></td-->
        <td><%= project.status %></td>
        <td><%= project.resources_id %></td>
        <td><%#= project.deadline %></td>
        <td><%= link_to 'Ver', project, class: "btn btn-default" %></td>
        <td><%= link_to 'Editar', edit_project_path(project), class: "btn btn-default" %></td>
        <td><%= link_to 'Deletar', project, method: :delete,class: "btn btn-default",  data: { confirm: 'Confirma?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>



  </div>
  
</div>

  


