<div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="ion ion-ios-gear-outline"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Sprints/Total</span>
              <span class="info-box-number"><%= @project.sprints %></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-red"><i class="fa fa-google-plus"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Recursos</span>
              <span class="info-box-number"><%= @resources.count %></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->

        <!-- fix for small devices only -->
        <div class="clearfix visible-sm-block"></div>

        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-green"><i class="ion ion-ios-cart-outline"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Status</span>
              <span class="info-box-number"><%= @project.status %></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Prazo</span>
              <span class="info-box-number"><%= @project.deadline %></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
      </div>




<p id="notice"><%= notice %></p>

<p>
  <strong>Head:</strong>
  <%= @project.head %>
</p>

<p>
  <strong>Manager:</strong>
  <%= @project.manager_name %>
</p>

<p>
  <strong>Project title:</strong>
  <%= @project.project_title %>
</p>

<p>
  <strong>Area:</strong>
  <%= @project.area %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Representant:</strong>
  <%= @project.representant %>
</p>

<p>
  <strong>Sprints:</strong>
  
</p>

<p>
  <strong>Status:</strong>
  
</p>

<p>
  <strong>Resources:</strong>
  <%= @project.resources_id %>
</p>

<p>
  <strong>Deadline:</strong>
  <%#= @deadline.project_id(@project.id) %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
