<%= simple_form_for(@resource) do |f| %>
  <%= f.error_notification %>
<div class="box-body">
  <h4> <%= f.input :name, label: 'Nome:', class: 'form-control' %></h4><br>
  <h4> <%= f.input :resource_id, label: 'Matrícula:', class: 'form-control' %></h4><br>
  <h4> <%= f.input :function, label: 'Função:', class: 'form-control' %></h4><br>
  <h4> <%= f.input :alocation, label: 'Alocação',  class: 'form-control' %></h4><br>

   
   
   
 

  
    <%= f.button :submit, class: 'btn btn-default' %>
  
<% end %>
</div>