<div class="box box-primary">
  <div class="box-body">
<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @resource.name %>
</p>
<p>
  <strong>Matrícula:</strong>
  <%= @resource.resource_id %>
</p>

<p>
  <strong>Função:</strong>
  <%= @resource.function %>
</p>

<p>
  <strong>Alocação:</strong>
  <%= @resource.alocation %>
</p>

<%= link_to 'Editar', edit_resource_path(@resource), class: 'btn btn-default' %> 
<%= link_to 'Voltar', :back, class: 'btn btn-default' %>
</div>
</div>